---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Bring Your Own ideas",
    description:
      "Collaboration is the essence of greatness so bring along your great ideas. We are here to help you bring them to life.",
    icon: "mdi:handshake",
  },
  {
    title: "On demand",
    description:
      "Wether your project is simple or complex, we can design a path forward. We can help you get started or take over an existing project.",
    icon: "mdi:feather",
  },
  {
    title: "Flexibility",
    description:
      "Artistic project often start with a vision and change as they progress. Likewise you may wish to take unforseen changes along the way. We can help you adapt.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Broad Integration",
    description:
      "If your project requires interactions with other professionals, we can integrate with them. We can also help you find the right people for the job.",
    icon: "mdi:graph",
  },
  {
    title: "SEO Enabled",
    description:
      "with years of experience and research, you can cut down on the time it takes to get propositions and ideas",
    icon: "mdi:search-web",
  },
  {
    title: "Customer centric",
    description:
      "Every project is unique and should provide a lifetime of satisfaction. You are unique to us and we will be there for you",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features" bg="">
  <Fragment slot="lead">
    <!-- Astro comes <span class="text-primary">batteries included</span>. It takes
    the best parts of
    <span class="text-primary">state-of-the-art</span>
     tools and adds its own <span class="text-primary">innovations</span>. -->
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
