---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import astronautImage from "~/assets/astronaut.png";
import HeroImage1 from "~/components/hero-image1.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <section class="relative h-full">
    <HeroImage1 />

    <noscript>
      <style>
        #splash-bg-fallback {
          display: block;
        }
      </style>
    </noscript>

    <style>
      @keyframes float {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(0, 30px, 0);
        }
      }

      #astronaut {
        animation: float linear 2.5s infinite alternate;
      }

      @media (prefers-reduced-motion: reduce) {
        #astronaut {
          @apply animate-none;
        }

        :global(#starfield) {
          @apply hidden;
        }

        #splash-bg-fallback {
          @apply block;
        }
      }
    </style>
  </section>
</section>
